<header>
    <div class="container">
        <nav class="navbar">
            <div class="logo">
                <a href="/">Qorap</a>
            </div>
            <button class="catalog-button">Каталог</button>
            <div class="search-bar">
                <input type="text" placeholder="Поиск...">
                <button type="submit">🔍</button>
            </div>
            <div class="icons">
                <a href="{% url 'favorites:favorites_detail' %}" class="favorites-link">
                    ❤️
                    <span id="favorites-count" class="favorites-count {% if favorites|length > 0 %}visible{% else %}hidden{% endif %}">
                        {{ favorites|length }}
                    </span>
                </a>
                <a href="{% url 'cart:cart_detail' %}" class="cart-link">
                    🛒
                    <span id="cart-count" class="cart-count {% if cart_count|length > 0 %}visible{% else %}hidden{% endif %}">
                        {{ cart_count|length }}
                    </span>
                </a>
                <a href="{% url "user:profile" %}">👤</a>
            </div>
        </nav>
    </div>
</header>
